
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Pages
@import "components/_padding-margin";

.navbar-brand {
    padding: 5px 15px;
}
.level {
    display: flex; align-items: center;
}
.flex {
    flex: 1;
}
[v-cloak] {
    display: none;
}

form.bluedashed {
    border-style: dashed;
    border-color: #00ADFF;
}
.glyphicon-lg {
    font-size: 30px;
}

.clear {
    clear: both;
}

.hand {
    cursor: pointer;
}

.photo-bucket {
    .admin-box {
        display: none;
        position: absolute;
        top: -10px;
        left: 5px;
        z-index: 1000;
    }
    &:hover .admin-box {
        display: block;
    }

    img.disabled {
        opacity: 0.4;
    }
}